
[Unit]
Description=Homepage service using python http.server

[Service]
Type=simple
WorkingDirectory= <path-to-homepage>
ExecStart=/usr/bin/python -m http.server 3000 --bind 127.0.0.1

[Install]
WantedBy=multi-user.target
